/* MUZAMMIL WORKING START */

.box{
    width: 200px;
    height: 200px;
    background-color: red;

}
.truck{
    width: 500px;
    height: 50px;
    background-color: orange;
}
/* MUZAMMIL WORKING END */




/* UMAIR WORKING START */
/* UMAIR WORKING END */
