/* MUZAMMIL WORKING START */

.box{
    width: 200px;
    height: 200px;
    background-color: red;
    
}
/* MUZAMMIL WORKING END */




/* UMAIR WORKING START */
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* UMAIR WORKING END */
